// Font-families
//
$font-neutral: Arial, sans-serif;
$font-din: 'DIN', Helvetica, sans-serif;
$font-helvetica-bold: 'HelveticaBdCn', Helvetica, sans-serif;
$font-helvetica-medium: 'HelveticaMedCn', Helvetica, sans-serif;
$font-helvetica-light: 'HelveticaLtCn', Helvetica, sans-serif;
$source-sans-semibold: 'SourceSansProSemibold', Helvetica, sans-serif;

// Other
//
$standard-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);