* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	// Prevent auto-font-scaling on iPhone
	-webkit-text-size-adjust: 100%;
}

body {
	@media (min-width: $breakpoint-1000 + 1) {
		min-width: 1000px;
	}
	@media (max-width: $breakpoint-1000) {
		min-width: 100%;
	}
	-webkit-font-smoothing: antialiased;
	&.overflow-hidden {
		overflow: hidden;
	}
}

[data-navigate] {
	cursor: pointer;
}

.center {
	height: 100%;
	margin: 0 auto;
	position: relative;
	@media (min-width: $breakpoint-1000 + 1) {
		width: 960px;
	}
	@media (max-width: $breakpoint-1000) {
		width: 96%;
	}
}

h1, h2 {
	font: {
		family: $font-din;
		weight: normal;
	}
	line-height: 1.2em;
}

h1.title {
	@media (max-width: $breakpoint-420) {
		font-size: 25px;
	}
}

h1, h2.promote {
	color: #fff;
	font-size: 30px;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

h2 {
	color: $color-blue-primary;
	font-size: 22px;
	margin-top: 80px;
	text-transform: uppercase;
}

h3 {
	color: $color-orange-primary;
	font: {
		family: $font-helvetica-bold;
		size: 18px;
		weight: normal;
	}
}

p, li {
	font: {
		family: $font-helvetica-medium;
		size: 16px;
	}
	line-height: 1.4em;
}

p {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
}

.blue-button {
	border: none;
	border-radius: 3px;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
	font: {
		family: $font-source-sans-semibold;
		size: 16px;
	}
	outline: none;
	padding: 5px 20px;
	text-transform: uppercase;
	transition: opacity 0.25s;
	@include linear-gradient(top, #15649a 50%, #025690 51%);
	&.over,
	&.down {
		opacity: 0.8;
	}
	&.down {
		box-shadow: none;
	}
}

.parallax {
	overflow: hidden;
	position: relative;
	width: 100%;
	&.about {
		height: 265px;
	}
	&.contact {
		height: 200px;
	}
	.plx-image {
		position: absolute;
		width: 100%;
		@media (max-width: $breakpoint-1000) {
			height: auto;
			min-width: 790px;
		}
	}
}

.nobr {
	white-space: nowrap;
}

form {
	position: absolute;
	right: 100px;
	top: 20px;
	width: 45%;
	textarea {
		height: 70px;
		resize: none;
	}
	input[type='submit'] {
		display: inline-block;
		position: absolute;
		right: -10px;
	}
	input,
	textarea {
		border-radius: 3px;
		outline: none;
		transition: border-color 0.2s;
		&:not([type='submit']) {
			border: none;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
			display: block;
			font: {
				family: $font-helvetica-light;
				size: 13px;
			}
			margin-bottom: 10px;
			padding: 8px 5px 5px 5px;
			width: 100%;
			@include linear-gradient(top, #c5c7ca 0px, #eceff1 3px);
		}
	}
	input.invalid,
	textarea.invalid {
		border: 1px solid #f00;
	}
}
.navigation,
.responsive-menu {
	li {
		color: #f39200;
		font-family: $font-source-sans-semibold;
		text-transform: uppercase;
		transition: 0.25s color;
		&.over,
		&.selected {
			color: #025086;
		}
	}
}