/*
	Global styles
	
	For all elements throughout the site, each content block is
	contained within a "center" container @ 960px width (auto height).
	
	Within the centering containers, allow for 20px padding on both
	the right-hand side and the left-hand side... I'm avoiding use
	of the actual "padding" CSS property in favor of margins, due to
	unpredictability and other issues at the mobile/responsive level.
*/

* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	/* Prevent auto-font-scaling on iPhone */
	-webkit-text-size-adjust: 100%;
}

body {
	min-width: 1000px;
	-webkit-font-smoothing: antialiased;
	
	&.overflow-hidden {
		overflow: hidden;
	}
}

[data-navigate] {
	cursor: pointer;
}

.center {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

h1, h2 {
	line-height: 1.2em;
	font: {
		family: $font-din;
		weight: normal;
	}
}

h1 {
	font-size: 30px;
	color: #fff;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

h2 {
	font-size: 22px;
	color: $main-blue;
	text-transform: uppercase;
	margin-top: 80px;
}

h3 {
	color: $main-orange;
	font: {
		family: $font-helvetica-bold;
		size: 18px;
		weight: normal;
	}
}

p, li {
	line-height: 1.4em;
	font: {
		family: $font-helvetica-medium;
		size: 16px;
	}
}

p {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
}

.blue-btn {
	padding: 5px 20px;
	text-transform: uppercase;
	color: #fff;
	font: {
		family: $source-sans-semibold;
		size: 16px;
	}
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
	transition: opacity 0.25s;
	@include linear-gradient(top, #15649a 50%, #025690 51%);
	
	&.over,
	&.down {
		opacity: 0.8;
	}
	
	&.down {
		box-shadow: none;
	}
}

.parallax {
	position: relative;
	width: 100%;
	overflow: hidden;
	
	&.about {
		height: 265px;
	}
	
	&.contact {
		height: 200px;
	}
	
	> img {
		position: absolute;
		width: 100%;
	}
}

.nobr {
	white-space: nowrap;
}

form {
	position: absolute;
	right: 100px;
	top: 20px;
	width: 45%;
	
	textarea {
		height: 70px;
		resize: none;
	}
	
	input[type='submit'] {
		display: inline-block;
		position: absolute;
		right: -10px;
	}
	
	input,
	textarea {
		border-radius: 0; /* Removes automatic rounded edges in iOS */
		
		&:not([type='submit']) {
			font: {
				family: $font-helvetica-light;
				size: 13px;
			}
			display: block;
			width: 100%;
			margin-bottom: 10px;
			padding: 8px 5px 5px 5px;
			border: none;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
			@include linear-gradient(top, #c5c7ca 0px, #eceff1 3px);
		}
	}
	
	input.invalid,
	textarea.invalid {
		border: 1px solid #f00;
	}
	
	.contact-form-error-message {
		color: #f00;
		font: {
			style: italic;
			size: 12px;
		}
		position: absolute;
		top: -20px;
		display: none;
		
		&.SHOW {
			display: block;
		}
	}
}

.successful-form-submission-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
	
	.enclosure {
		width: 100%;
		max-width: 450px;
		position: relative;
		top: 50%;
		display: table;
		margin: -75px auto 0;
		min-height: 150px;
		background: #fff;
		box-shadow: $standard-box-shadow;
		
		.close-btn {
			font: {
				size: 24px;
				weight: bold;
			}
			color: #c0c0c0;
			cursor: pointer;
			background: none;
			outline: none;
			position: absolute;
			top: 5px;
			right: 8px;
		}
		
		p, h3 {
			padding: 10px;
			text-align: center;
		}
		
		h3 {
			margin-top: 30px;
			font-size: 24px;
		}
	}
}

/*
	Below are generic selectors for all nav items,
	both primary/horizontal and responsive menus.
*/

nav {
	li {
		color: #f39200;
		text-transform: uppercase;
		font-family: $source-sans-semibold;
		transition: 0.25s color;
		
		&.over,
		&.SELECTED {
			color: #025086;
		}
	}
}