doctype html
html
    head
        meta(charset="UTF-8")
        title #{subject}
    body
        h1(style="margin-bottom: 20px;") New 'StreamYourAd' email submitted by #{name}:
        p #{comments}

//- @TODO: IF USING NODEMAILER, REMOVE THIS VIEW