block about
    article#aboutContent.about-content
        .parallax.about
            img.plx-image.parallax-about(src="images/parallax-phone-bg.jpg" alt="Parallax Phone Background")
            .center
                h1.title Digital Branding<br>Social Solutions<br>Brand Promotions
        .center
            section.context
                h2 HOW IT WORKS
                img.ctx-image(src="images/about-finger-point.png" alt="Create without boundaries.")
                .txt-block
                    h3 Create without boundaries.
                    ul
                        li Drag and drop interface simplifies the design process.
                        li Advanced tools enable coders to maximize design and functionality.
                        li Includes human interface gestures, animation, video, #[span.nobr geo-location], mini-games and more.
                img.ctx-image(src="images/about-gears.png" alt="Build once. Run anywhere.")
                .txt-block
                    h3 Build once. Run anywhere.
                    ul
                        li Deploy for iOS, Android or Windows and multiple form factors including smart phones and tablets.
                        li Supports all leading ad networks and hundreds of premium publishers.
                        li Run ads confidently regardless of publisher or application.
                img.ctx-image(img src="images/about-bar-graph.png" alt="Optimize creative in real time.")
                .txt-block
                    h3 Optimize creative in real time.
                    ul
                        li Centralize performance and engagement metrics from all distribution channels.
                        li Track app installs and ad engagement such as shake, orientation, device and more.
                        li Measure and create your own custom event.