block contact
    #contactContent.contact-content
        .parallax.contact
            img.plx-image.parallax-contact(src="images/parallax-social-bg.jpg" alt="Parallax Phone Background")
            .center
                h2.promote Promote your Ad today
        .center
            section.context
                h2 CONTACT US
                img.ctx-image.logo(src="images/logo-large.png" alt="StreamYourAd Logo" width="220")
                nav.social
                    ul
                        li.facebook
                            a(href="https://www.facebook.com/")
                        li.google
                            a(href="https://plus.google.com/")
                        li.instagram
                            a(href="https://instagram.com/")
                        li.pinterest
                            a(href="https://www.pinterest.com/")
                        li.twitter
                            a(href="https://twitter.com/")
                form#contactForm.contact-form(name="contactForm")
                    p#contactFormErrorMessage.contact-form-error-message Please fix the highlighted errors below.
                    input(type="text" name="name" placeholder="Name (Required)")
                    input(type="text" name="email" placeholder="Email (Required)")
                    input(type="text" name="subject" placeholder="Subject (Required)")
                    textarea(name="comments" placeholder="Comments (Required)")
                    input(type="submit" value="GET IN TOUCH" class="blue-button")