block header
    header.header
        .center
            img#logo.logo(data-navigate="home" src="images/logo.png" alt="StreamYourAd Logo" width="172")
            nav.navigation
                ul.nav-items
                    li.selected(data-navigate="home") HOME
                        span.underline
                    li(data-navigate="about") HOW IT WORKS
                        span.underline
                    li(data-navigate="services") OUR SERVICES
                        span.underline
                    li(data-navigate="contact") CONTACT US
                        span.underline
            button#responsiveNavButton.responsive-nav-button
                span.bar
                span.bar
                span.bar