include ../mixins/navItem

block header
    header.header
        .center
            img#logo.logo(data-navigate="home" src="images/logo.png" alt="StreamYourAd Logo" width="172")
            nav.navigation
                ul.nav-items
                    +navItem('home', true)
                    +navItem('about')
                    +navItem('services')
                    +navItem('contact')
            button#responsiveNavButton.responsive-nav-button
                - for (let i = 0; i < 3; i++)
                    span.bar