block slider
    #slider.slider
        .center
            img#responsiveSlide.responsive-slide(src="images/slider/responsive-slide.png" alt="StreamYourAd: Digital Branding, Social Solutions, Brand Promotions")
            #slide-1.slide.slide-1.SHOW
                img.slide-image(src="images/slider/slide-1.png" alt="StreamYourAd: Digital Branding, Social Solutions, Brand Promotions")
                p The Freedom to promote your brand Your Way from anywhere
            #slide-2.slide.slide-2
                img.slide-image(src="images/slider/slide-2.png" alt="Effective Brand Recognition Through Exposure")
                .blurb
                    p Effective Brand Recognition Through Exposure
                    img.logo(src="images/logo-large.png" alt="StreamYourAd Logo")
            #slide-3.slide.slide-3
                img.slide-image(src="images/slider/slide-3.png" alt="Find Out How StreamYourAd Can Help")
                .blurb
                    p Interested? Find out how StreamYourAd can help.
                    button.blue-button(data-navigate="about") See how it works
            ul#sliderBullets.slider-bullets
            button#splash-down-arrow.splash-down-arrow(data-navigate="about")