.about-content {
	min-height: 1320px;
	.parallax .title {
		bottom: 32px;
		position: absolute;
	}
	h3 {
		margin-bottom: 20px;
	}
	.context {
		h2 {
			@media (max-width: $breakpoint-760) {
				margin: 48px 0 20px;
				text-align: center;
			}
		}
		.ctx-image {
			position: absolute;
			@media (max-width: $breakpoint-950) {
				right: 20px;
			}
			&:first-of-type {
				@media (min-width: $breakpoint-950 + 1) {
					right: 80px;
				}
				@media (max-width: $breakpoint-950) {
					right: 0;
					width: 360px;
				}
				@media (min-width: $breakpoint-812 + 1) {
					top: -10px;
					width: 425px;
				}
				@media (max-width: $breakpoint-812) {
					top: 10px;
					width: 40%;
				}
				@media (max-width: $breakpoint-760) {
					display: block;
					left: 0;
					margin: 0 auto;
					position: relative;
					top: 0;
					width: 60%;
				}
				@media (max-width: $breakpoint-420) {
					width: 90%;
				}
			}
			&:nth-of-type(2) {
				left: 80px;
				@media (min-width: $breakpoint-812 + 1) {
					width: 253px;
				}
				@media (max-width: $breakpoint-812) {
					left: 20px;
					width: 30%;
				}
				@media (min-width: $breakpoint-760) {
					top: 350px;
				}
				@media (max-width: $breakpoint-760) {
					display: block;
					left: 0;
					margin: 0 auto;
					position: relative;
					top: 0;
					width: 60%;
				}
			}
			&:last-of-type {
				left: 80px;
				@media (min-width: $breakpoint-812 + 1) {
					width: 225px;
				}
				@media (max-width: $breakpoint-812) {
					left: 20px;
					width: 30%;
				}
				@media (min-width: $breakpoint-760 + 1) {
					top: 660px;
				}
				@media (max-width: $breakpoint-760) {
					display: block;
					left: 0;
					margin: 0 auto;
					position: relative;
					top: 0;
					width: 60%;
				}
			}
		}
	}
	.txt-block {
		@media (max-width: $breakpoint-760) {
			left: 0;
			margin: 40px auto;
			position: relative;
			top: 0;
		}
		@media (min-width: $breakpoint-420 + 1) {
			width: 380px;
		}
		@media (max-width: $breakpoint-420) {
			width: 96%;
		}
		&:not(:first-of-type) {
			@media (min-width: $breakpoint-950 + 1) {
				right: 100px;
			}
			@media (max-width: $breakpoint-950) {
				right: 20px;
			}
			@media (min-width: $breakpoint-760 + 1) {
				position: absolute;
			}
		}
		&:first-of-type {
			@media (min-width: $breakpoint-760) {
				margin-top: 30px;
			}
		}
		&:nth-of-type(2) {
			@media (min-width: $breakpoint-760) {
				top: 400px;
			}
		}
		&:last-of-type {
			@media (min-width: $breakpoint-760) {
				top: 700px;
			}
		}
	}
	ul {
		padding-left: 15px;
		li:before {
			content: '\2022';
			font-family: sans-serif;
			left: 0;
			margin-top: -2px;
			position: absolute;
		}
	}
}