.footer {
	text-align: center;
	width: 100%;
	.footer-items {
		display: inline-block;
		margin-top: 20px;
		padding-bottom: 15px;
		li {
			@media (min-width: $breakpoint-420 + 1) {
				display: inline-block;
			}
			@media (max-width: $breakpoint-420) {
				display: block;
				margin-bottom: 8px;
			}
			font-size: 14px;
			line-height: 1.2em;
			padding-left: 5px;
			transition: color 0.25s;
			&:not(:last-child) {
				cursor: pointer;
				@media (min-width: $breakpoint-420 + 1) {
					border-right: 1px solid #000;
				}
				@media (max-width: $breakpoint-420) {
					border-right: none;
				}
				padding-right: 5px;
			}
			&.over,
			&.down {
				color: #15649a;
			}
			&.down {
				text-decoration: underline;
			}
		}
	}
}