.services-content {
	min-height: 995px;
	overflow: hidden;
	.services-content-top {
		background: #c0c9cf;
		height: 292px;
		@media (max-width: $breakpoint-658) {
			min-height: 730px;
			padding-top: 10px;
		}
		position: relative;
		width: 100%;
		.title.hide {
			color: transparent;
			height: 0;
			text-indent: -9999px;
			visibility: hidden;
		}
		.icon,
		.center {
			text-align: center;
		}
		.icon {
			display: inline-block;
			margin-top: 50px;
			@media (max-width: $breakpoint-658) {
				margin: 30px auto 0;
				display: block;
			}
			&:nth-of-type(2) {
				@media (min-width: $breakpoint-850 + 1) {
					margin: 50px 120px 0;
				}
				@media (max-width: $breakpoint-850) {
					margin: 50px 30px 0;
				}
				@media (max-width: $breakpoint-658) {
					margin: 30px auto 0;
					display: block;
				}
			}
			p {
				color: #245b81;
				font: {
					family: 'DIN', sans-serif;
					size: 22px;
				}
				text-transform: uppercase;
			}
			.icon-image {
				width: 149px;
			}
		}
	}
	h2 {
		background: url('../images/services-arrow.png') no-repeat 3px 100%;
		background-size: 180px 15px;
		padding-bottom: 25px;
		@media (max-width: $breakpoint-760) {
			background-position: center 100%;
			margin: 48px 0 0;
		}
	}
	.txt-block {
		@media (min-width: $breakpoint-760 + 1) {
			margin-top: 30px;
			width: 342px;
		}
		@media (max-width: $breakpoint-760) {
			margin: 30px auto;
			width: 90%;
		}
	}
	ul.orange {
		@media (min-width: $breakpoint-760 + 1) {
			margin-left: 20px;
		}
		@media (max-width: $breakpoint-760) {
			margin: 0 0 40px;
		}
		li {
			color: $color-orange-primary;
			font-family: 'HelveticaBdCn', sans-serif;
		}
	}
	.context {
		@media (max-width: $breakpoint-760) {
			text-align: center;
		}
		.ctx-image {
			@media (min-width: $breakpoint-760 + 1) {
				position: absolute;
				right: 80px;
				top: 10px;
			}
			@media (max-width: $breakpoint-760) {
				position: relative;
				right: 0;
				top: 20px;
			}
			width: 380px;
		}
	}
}