.slider {
	background: {
		color: #b6c2cb;
		repeat: no-repeat;
		position: center center;
	}
	height: 650px;
	margin-top: 80px;
	position: relative;
	@include radial-gradient(#fff, rgba(255, 255, 255, 0));
	.slide {
		@media (max-width: $breakpoint-760) {
			display: none;
		}
		opacity: 0;
		position: absolute;
		transition: all 0.4s;
		visibility: hidden;
		width: 100%;
		p {
			color: #245b81;
			font: {
				family: $font-din;
				size: 22px;
				weight: normal;
			}
		}
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
	.slide-1 {
		@media (max-width: $breakpoint-850) {
			margin-top: 40px;
		}
		.slide-image {
			margin-top: 16px;			
			width: 100%;
		}
		p {
			margin-top: -8px;
			text: {
				align: center;
				transform: uppercase;
			}
		}
	}
	.slide-2 {
		.slide-image {
			position: absolute;
			@media (min-width: $breakpoint-850 + 1) {
				top: 100px;
			}
			@media (max-width: $breakpoint-850) {
				margin-top: 100px;
			}
			@media (min-width: $breakpoint-950 + 1) {
				right: 100px;
			}
			@media (max-width: $breakpoint-950) {
				right: 40px;
			}
			width: 400px;
		}
		.blurb {
			@media (min-width: $breakpoint-950 + 1) {
				left: 100px;
			}
			@media (max-width: $breakpoint-950) {
				left: 80px;
			}
			@media (max-width: $breakpoint-850) {
				left: 40px;
			}
			position: absolute;
			top: 150px;
			width: 260px;
			.logo {
				margin-top: 60px;
				width: 220px;
			}
		}
		p {
			border-bottom: 2px solid #f39200;
			padding-bottom: 5px;
		}
	}
	.slide-3 {
		.slide-image {
			margin: 26px 0 0 80px;
			@media (max-width: $breakpoint-850) {
				margin-left: 20px;
			}
			@media (max-width: $breakpoint-950) {
				margin-left: 40px;
			}
			width: 400px;
		}
		.blurb {
			position: absolute;
			@media (min-width: $breakpoint-950 + 1) {
				right: 120px;
			}
			@media (max-width: $breakpoint-950) and (min-width: $breakpoint-850 + 1) {
				right: 60px;
			}
			@media (max-width: $breakpoint-850) {
				right: 20px;
			}
			top: 150px;
			width: 260px;
		}
		p {
			border-bottom: 2px solid #f39200;
			padding-bottom: 5px;
		}
		.blue-button {
			margin-top: 80px;
		}
	}
	.slider-bullets {
		bottom: 75px;
		@media (max-width: $breakpoint-760) {
			display: none;
		}
		position: absolute;
		text-align: center;
		width: 100%;
		li {
			border-radius: 10px;
			background: #8da4ac;
			display: inline-block;
			font-family: $font-neutral;
			height: 8px;
			transition: background 0.4s;
			width: 8px;
			&:not(:first-child) {
				margin-left: 15px;
			}
			&.selected {
				background: #5e5f5e;
			}
		}
	}
	.splash-down-arrow {
		-webkit-animation: bounce 2.5s infinite;
		animation: bounce 2.5s infinite;
		background: url('../images/splash-down-arrow.png') no-repeat 10px 10px;
		background-size: 42px 23px;
		bottom: 15px;
		height: 43px;
		left: 50%;
		margin-left: -31px;
		position: absolute;
		width: 62px;
	}
	.responsive-slide {
		display: none;
		margin: 0 auto;
		position: relative;
		@media (max-width: $breakpoint-760) {
			display: block;
		}
		@media (min-width: $breakpoint-620 + 1) {
			width: 535px;
		}
		@media (max-width: $breakpoint-620) {
			width: 90%;
		}
		@media (min-width: $breakpoint-420 + 1) {
			top: 40px;
		}
		@media (max-width: $breakpoint-420) {
			top: 50px;
		}
	}
}